<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="posts">
            <% include ../partials/top %>

            <!-- main Start -->

            <!-- main end -->
        </div>

        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>
